body{
    background-color: #0F172A;
    color:aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
}
.box{
    width:400px;
    margin:auto;
    background:white;
    padding: 20px;
    border:2px solid black;
    border-radius: 8px;
    text-align: center;
    background-color: #1E293B;
}
.container{
    padding: 10px;
    margin:10px;
    display:flex;
}
#submitBtn{
    width: 60%;
    background-color: #22C55E;
    
}
#resetBtn{
      width: 60%;
      background-color: #EF4444;

}
#add{
    background-color: #38BDF8;
}
#submitBtn:hover {
    font-weight: bold;
    background-color: rgb(22, 139, 22);
    border-radius: 5px;
    color:white;
}

#resetBtn:hover{
     font-weight: bold;
    background-color: rgb(171, 43, 43);
    border-radius: 5px;
    color:white;

}
li{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightblue;
    font-size: larger;
    color: black;
    text-align: left;
    margin: 8px 0;
    padding: 8px;
    border-radius: 5px;
}

li button{
    background: transparent;
    border: none;
    color: red;
    cursor: pointer;
}
